<VirtualHost *:80>
    ServerAdmin webmaster@vhost-1.{{ inventory_hostname }}
    ServerName vhost-1.{{ inventory_hostname }}
    ErrorLog /var/log/apache2/vhost.{{ inventory_hostname }}-1-error.log
    CustomLog /var/log/apache2/vhost.{{ inventory_hostname }}-1-common.log common
    DocumentRoot /var/www/vhosts/{{ inventory_hostname }}-1/

    <Directory /var/www/vhosts/{{ inventory_hostname }}-1/>
        Options +Indexes +FollowSymlinks +Includes
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>
